<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @opinion.author_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @opinion.text %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
