<% content_for :right do %>
<div class="right_profile">
  <div class="d-flex align-items-center justify-content-center py-3">
    <%= image_tag @user.profile_images.first.image.url,
     class: 'align-self-center rounded-circle' %>
  </div>
  <div class="text-center">
    <%= follow_button @user %>
  </div>
  <div class="text-center">
    <%= edit_button @user %>
  </div>

  <h4 class="text-center my-2"> <%= @user.fullname %> </h4>
  <h4 class="text-center"> @<%= @user.username %> </h4>

  <div class="container-fluid mt-4">
    <div class="row stats">
      <div class="col-4 py-4 px-1 tweets">
        <p class="text-center"><%= @user.opinions.count %></p>
        <h5 class="text-center pt-2">Tweets</h5>
      </div>
      <div class="col-4 py-4 px-1 followings">
        <p class="text-center"><%= @user.followings.count %></p>
        <h5 class="text-center pt-2">Following</h5>
      </div>
      <div class="col-4 py-4 px-1 followers">
        <p class="text-center"><%= @user.followers.count %></p>
        <h5 class="text-center pt-2">Followers</h5>
      </div>
    </div>
  </div>

  <h4 class="text-center mt-3 followed_by" >FOLLOWED BY</h4>

  <%= render 'users/followers', followers: @user.followers %>

</div>
<% end %>
