<%= render 'users/who_to_follow', unfollowings: current_user.unfollowings %>
<div class="ribbon mt-4">
  <h2 class="text-center">Scientists</h2>
</div>
<div class="scientists d-flex flex-wrap justify-content-between mx-auto px-4 mb-5">
  <% @users.each do |user| %>
    <div class="card mx-auto my-2 shadow" style="width: 15rem;">
      <%= image_tag user.profile_images.first.image.url,
       class: 'card-img-top rounded-circle mx-auto mt-2' %>
        <div class="card-body d-flex flex-column justify-content-around">
          <div>
            <h5 class="card-title text-wrap text-center my-0">
              <%= user.fullname %> <br>
              @<%= user.username %>
            </h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex my-0">
              <span>Reports: </span>
              <span class="ml-auto"><%= user.opinions.count %></span>
            </li>
            <li class="list-group-item d-flex my-0">
              <span>Followings:</span>
              <span class="ml-auto"><%= user.followings.count %></span>
            </li>
            <li class="list-group-item d-flex my-0">
              <span>Followers:</span>
              <span class="ml-auto"><%= user.followers.count %></span>
            </li>
          </ul>
          <div class="bg bg-secondary rounded text-white my-auto latest p-1">
            <p class="text-center">Latest Report:</p>
            <p class="card-text text-center">"<%= last_tweet user %>"</p>
          </div>
        </div>
      <div class="buttons text-center mb-2">
        <%= link_to 'Profile', user, class:'btn btn-primary text-white ml-auto' %>
        <%= follow_button user %>
        <%= edit_button user %>
      </div>
    </div>
  <% end %>
</div>
