<div class="ribbon py-3 sticky-top pl-0">
  <h2 class="text-center">Scientists</h2>
</div>

<div class="scientists justify-content-between mx-auto">
  <% @users.each do |user| %>

  <div class="card mx-auto my-2" style="width: 18rem;">
    <%= image_tag user.profile_images.first.image.url,
     class: 'card-img-top' %>
    <div class="card-body">
      <div>
        <h5 class="card-title text-wrap text-center">
          <%= user.fullname %> <br>
          @<%= user.username %></p>
        </h5>


      </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <span>Reports: </span>
        <span class="ml-auto"><%= user.opinions.count %></span>
      </li>
      <li class="list-group-item d-flex">
        <span>Followings:</span>
        <span class="ml-auto"><%= user.followings.count %></span>
      </li>
      <li class="list-group-item d-flex">
        <span>Followers:</span>
        <span class="ml-auto"><%= user.followers.count %></span>
      </li>
    </ul>
    <h5 class="text-center">Latest Report:</h5>
    <div class="latest p-1">
      <p class="card-text text-center">"<%= last_tweet user %>"</p>
    </div>
    <div class="text-center ml-auto">
      <%= link_to 'Profile', user, class:'btn btn-primary text-white ml-auto' %>
      <%= follow_button user %>
      <%= edit_button user %>
    </div>
    </div>
  </div>

  <% end %>
</div>
